html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(41, 45, 62);
}

#joinContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(31, 35, 42);
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#playOptions {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    align-items: center;
    margin-top: 3%;
}

@media (max-width: 500px) {
    #mainHeader {
        font-family: 'Fjalla One', sans-serif;
        font-size: 80px;
        color: rgb(255, 255, 255);
        margin-top: 15%;
        margin-bottom: 1%;
    }
    #subHeader {
        color: rgb(200, 200, 200);
    }
    #createRoomButton {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(133, 170, 83);
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: rgb(255, 255, 255);
        font-size: 22px;
        outline: none;
        box-shadow: 0px 5px rgb(83, 113, 51);
        box-sizing: border-box;
        cursor: pointer;
        font-stretch: 100%;
        margin-bottom: 10%;
        width: 80%;
    }
    #joinRoomButton {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(133, 170, 83);
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: rgb(255, 255, 255);
        font-size: 22px;
        outline: none;
        box-shadow: 0px 5px rgb(83, 113, 51);
        box-sizing: border-box;
        cursor: pointer;
        font-stretch: 100%;
        margin-bottom: 10%;
        width: 80%;
    }
}

@media (min-width: 500px) {
    #mainHeader {
        font-family: 'Fjalla One', sans-serif;
        font-size: 100px;
        color: rgb(255, 255, 255);
        margin-top: 15%;
        margin-bottom: 0;
    }
    #subHeader {
        color: rgb(200, 200, 200);
    }
    #createRoomButton {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(133, 170, 83);
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: rgb(255, 255, 255);
        font-size: 22px;
        outline: none;
        box-shadow: 0px 5px rgb(83, 113, 51);
        box-sizing: border-box;
        cursor: pointer;
        font-stretch: 100%;
        margin-bottom: 8%;
        width: 55%;
    }
    #joinRoomButton {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(133, 170, 83);
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: rgb(255, 255, 255);
        font-size: 22px;
        outline: none;
        box-shadow: 0px 5px rgb(83, 113, 51);
        box-sizing: border-box;
        cursor: pointer;
        font-stretch: 100%;
        margin-bottom: 8%;
        width: 55%;
    }
}

@media (min-width: 900px) {
    #mainHeader {
        font-family: 'Fjalla One', sans-serif;
        font-size: 140px;
        color: rgb(255, 255, 255);
        margin-top: 15%;
        margin-bottom: 0;
    }
    #subHeader {
        color: rgb(200, 200, 200);
    }
    #createRoomButton {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(133, 170, 83);
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: rgb(255, 255, 255);
        font-size: 22px;
        outline: none;
        box-shadow: 0px 5px rgb(83, 113, 51);
        box-sizing: border-box;
        cursor: pointer;
        font-stretch: 100%;
        margin-bottom: 4%;
        width: 35%;
    }
    #joinRoomButton {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(133, 170, 83);
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: rgb(255, 255, 255);
        font-size: 22px;
        outline: none;
        box-shadow: 0px 5px rgb(83, 113, 51);
        box-sizing: border-box;
        cursor: pointer;
        font-stretch: 100%;
        margin-bottom: 4%;
        width: 35%;
    }
}

@media (min-width: 1200px) {
    #mainHeader {
        font-family: 'Fjalla One', sans-serif;
        font-size: 180px;
        color: rgb(255, 255, 255);
        margin-top: 10%;
        margin-bottom: 0;
    }
    #subHeader {
        color: rgb(200, 200, 200);
    }
    #createRoomButton {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(133, 170, 83);
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: rgb(255, 255, 255);
        font-size: 22px;
        outline: none;
        box-shadow: 0px 5px rgb(83, 113, 51);
        box-sizing: border-box;
        cursor: pointer;
        font-stretch: 100%;
        margin-bottom: 2%;
        width: 25%;
    }
    #joinRoomButton {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(133, 170, 83);
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: rgb(255, 255, 255);
        font-size: 22px;
        outline: none;
        box-shadow: 0px 5px rgb(83, 113, 51);
        box-sizing: border-box;
        cursor: pointer;
        font-stretch: 100%;
        margin-bottom: 5%;
        width: 25%;
    }
}

#createRoomPopupOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 500px) {
    #createRoomContainer {
        display: flex;
        flex-direction: row;
        position: fixed;
        width: 300px;
        height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(53, 53, 53);
        align-items: center;
        text-align: center;
        border-radius: 20px;
        justify-content: space-around;
    }
    #longChessImage {
        margin-left: 10px;
        top: 35px;
        width: 115px;
        height: 231px;
    }
    #inputField {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #submitCreateRoomButton {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(133, 170, 83);
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: rgb(255, 255, 255);
        font-size: 22px;
        outline: none;
        box-shadow: 0px 5px rgb(83, 113, 51);
        box-sizing: border-box;
        cursor: pointer;
        font-stretch: 100%;
        margin-bottom: 5%;
        width: 90%;
    }
    #createRoomInput {
        border: none;
        outline: none;
        text-align: center;
        padding: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 18px;
        outline: none;
        box-sizing: border-box;
        cursor: pointer;
        font-stretch: 100%;
        margin-bottom: 5%;
        width: 90%;
    }
    #closeCreateRoomPopup {
        margin-top: 20%;
        width: 20px;
    }
    #joinRoomContainer {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 70%;
        height: 15%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(53, 53, 53);
        align-items: center;
        text-align: center;
        border-radius: 10px;
    }
    #joinRoomInput {
        border: none;
        outline: none;
        text-align: center;
        padding: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 22px;
        outline: none;
        box-sizing: border-box;
        cursor: pointer;
        font-stretch: 100%;
        margin-top: 10%;
        width: 70%;
    }
    #closeJoinRoomPopup {
        width: 20px;
        height: 20px;
        margin-top: 2%;
    }
}

@media(min-width: 500px) {
    #createRoomContainer {
        display: flex;
        flex-direction: row;
        position: fixed;
        width: 500px;
        height: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(53, 53, 53);
        align-items: center;
        text-align: center;
        border-radius: 20px;
        justify-content: space-around;
    }
    #longChessImage {
        margin-left: 10px;
        top: 25px;
        width: 230px;
        height: 463px;
    }
    #inputField {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #createRoomInput {
        border: none;
        outline: none;
        text-align: center;
        padding: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 22px;
        outline: none;
        box-sizing: border-box;
        cursor: pointer;
        font-stretch: 100%;
        margin-bottom: 5%;
        width: 100%;
    }
    #submitCreateRoomButton {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: rgb(133, 170, 83);
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: rgb(255, 255, 255);
        font-size: 22px;
        outline: none;
        box-shadow: 0px 5px rgb(83, 113, 51);
        box-sizing: border-box;
        cursor: pointer;
        font-stretch: 100%;
        margin-bottom: 5%;
        width: 100%;
    }
    #closeCreateRoomPopup {
        margin-top: 20%;
        width: 25px;
    }
    #joinRoomContainer {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 20%;
        height: 15%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(53, 53, 53);
        align-items: center;
        text-align: center;
        border-radius: 10px;
    }
    #joinRoomInput {
        border: none;
        outline: none;
        text-align: center;
        padding: 5px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: none;
        border-radius: 5px;
        padding: 10px;
        font-size: 22px;
        outline: none;
        box-sizing: border-box;
        cursor: pointer;
        font-stretch: 100%;
        margin-top: 10%;
        width: 70%;
    }
    #closeJoinRoomPopup {
        width: 25px;
        height: 25px;
        margin-top: 3%;
    }
}

#joinRoomPopupOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#display {
    display: none;
    padding: 0;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#winScreenPopupOverlay {
    animation: fade-in 2.5s ease;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#winContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 400px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

#winMessage {
    font-family: 'Tangerine', bold;
    font-size: 60px;
    border: none;
    outline: none;
    text-align: center;
    padding: 5px;
    width: 100%;
}

#backToHomeButton {
    border: none;
    outline: none;
    text-align: center;
    padding: 5px;
    width: 50%;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 45, 62);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}