html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(41, 45, 62);
}

#joinContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(31, 35, 42);
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

#playOptions {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 50%;
    text-align: center;
    align-items: center;
}

@media (max-width: 500px) {
    #mainHeader {
        font-family: 'Tangerine', cursive;
        font-size: 60px;
        color: rgb(199, 146, 234);
        margin-top: 0;
        margin-bottom: 0;
    }
    #createRoomButton {
        background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%);
        border: none;
        border-radius: 5px;
        color: #fbfbfb;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        text-align: left;
        cursor: pointer;
        outline: none;
        padding: 5px;
        margin-bottom: 2%;
    }
    #joinRoomButton {
        background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%);
        border: none;
        border-radius: 5px;
        color: #fbfbfb;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        text-align: left;
        cursor: pointer;
        outline: none;
        padding: 5px;
    }
}

@media (min-width: 500px) {
    #mainHeader {
        font-family: 'Tangerine', cursive;
        font-size: 100px;
        color: rgb(199, 146, 234);
        margin-top: 0;
        margin-bottom: 0;
    }
    #createRoomButton {
        background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%);
        border: none;
        border-radius: 5px;
        color: #fbfbfb;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        cursor: pointer;
        outline: none;
        padding: 5px;
        margin-bottom: 2%;
    }
    #joinRoomButton {
        background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%);
        border: none;
        border-radius: 5px;
        color: #fbfbfb;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        cursor: pointer;
        outline: none;
        padding: 5px;
    }
}

@media (min-width: 900px) {
    #mainHeader {
        font-family: 'Tangerine', cursive;
        font-size: 140px;
        color: rgb(199, 146, 234);
        margin-top: 0;
        margin-bottom: 0;
    }
    #createRoomButton {
        background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%);
        border: none;
        border-radius: 5px;
        color: #fbfbfb;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        cursor: pointer;
        outline: none;
        padding: 5px;
        margin-bottom: 2%;
    }
    #joinRoomButton {
        background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%);
        border: none;
        border-radius: 5px;
        color: #fbfbfb;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        cursor: pointer;
        outline: none;
        padding: 5px;
    }
}

@media (min-width: 1200px) {
    #mainHeader {
        font-family: 'Tangerine', cursive;
        font-size: 180px;
        color: rgb(255, 255, 255);
        margin-top: 0;
        margin-bottom: 0;
    }
    #createRoomButton {
        background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%);
        border: none;
        border-radius: 5px;
        color: #fbfbfb;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        cursor: pointer;
        outline: none;
        padding: 5px;
        margin-bottom: 2%;
    }
    #joinRoomButton {
        background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%);
        border: none;
        border-radius: 5px;
        color: #fbfbfb;
        font-weight: 00;
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        cursor: pointer;
        outline: none;
        padding: 5px;
        margin-bottom: 2%;
    }
}

#createRoomPopupOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 500px) {
    #createRoomContainer {
        display: flex;
        flex-direction: row;
        position: fixed;
        width: 300px;
        height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(53, 53, 53);
        align-items: center;
        text-align: center;
        border-radius: 20px;
        justify-content: space-around;
    }
    #longChessImage {
        margin-left: 10px;
        top: 35px;
        width: 115px;
        height: 231px;
    }
    #inputField {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #submitCreateRoomButton {
        width: 87%;
        padding: 5px;
    }
    #createRoomInput {
        border: none;
        outline: none;
        text-align: center;
        padding: 5px;
        width: 80%;
    }
    #closeCreateRoomPopup {
        margin-top: 40%;
        width: 20px;
    }
}

@media(min-width: 500px) {
    #createRoomContainer {
        display: flex;
        flex-direction: row;
        position: fixed;
        width: 500px;
        height: 500px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(53, 53, 53);
        align-items: center;
        text-align: center;
        border-radius: 20px;
        justify-content: space-around;
    }
    #longChessImage {
        margin-left: 10px;
        top: 25px;
        width: 230px;
        height: 463px;
    }
    #createRoomCodeText {
        margin-top: 55%;
        color: rgb(255, 255, 255);
        font-size: 35px;
    }
    #inputField {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #submitCreateRoomButton {
        width: 84%;
        padding: 5px;
    }
    #createRoomInput {
        border: none;
        outline: none;
        text-align: center;
        padding: 5px;
    }
    #closeCreateRoomPopup {
        margin-top: 80%;
        width: 25px;
    }
}

#joinRoomPopupOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#joinRoomContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 250px;
    height: 75px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(53, 53, 53);
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

#joinRoomInput {
    border: none;
    outline: none;
    text-align: center;
    margin-top: 5%;
    padding: 5px;
    width: 50%;
}

#closeJoinRoomPopup {
    width: 25px;
    height: 25px;
    margin-top: 1%;
}

#display {
    display: none;
    padding: 0;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#winScreenPopupOverlay {
    animation: fade-in 2.5s ease;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#winContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 400px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

#winMessage {
    font-family: 'Tangerine', bold;
    font-size: 60px;
    border: none;
    outline: none;
    text-align: center;
    padding: 5px;
    width: 100%;
}

#backToHomeButton {
    border: none;
    outline: none;
    text-align: center;
    padding: 5px;
    width: 50%;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    background-color: rgb(41, 45, 62);
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}